Workout Routines

<% @workout_routines.sort_by(category).each do |routine| %>
  <ul>
  <li><%= routine.name %></li>
  <li><%= routine.split_length %></li>
  <li><%= routine.difficulty %></li>
  <li><%= link_to "View Exercises", workout_routine_path(routine) %></li>
</ul>
<% end %>
