Save This Workout Plan

<% @workout_routine.exercises.each do |exercise| %>
<ol>
  <li><%= exercise.name %></li>
  <li><%= exercise.target %></li>
  <li><%= exercise.sets %></li>
  <li><%= exercise.reps %></li>
</ol>
<% end %>
